<div [className]="'footer-container'">
  <div [className]="'information-container'">
    <div>
      <div [className]="'sc01'">
        <div>
          <div [className]="'version-container'"><p>v1.0.0</p></div>
          <p>LAST UPDATED 2025-03-26</p>
        </div>
      </div>
    </div>
    <div>
      <div [className]="'social-container'">
        <div>
          <a
            href="https://www.linkedin.com/in/viet-do-8a8154217/"
            target="_blank"
            >Linkedin</a
          >
          <sup>1</sup>
        </div>
        <div>
          <a href="https://www.facebook.com/vanviet219/" target="_blank"
            >Facebook</a
          >
          <sup>2</sup>
        </div>

        <div>
          <a href="https://www.instagram.com/_vv.d__/" target="_blank"
            >Instagram</a
          >
          <sup>3</sup>
        </div>
      </div>
    </div>
    <div [className]="'sc03'">
      <p [className]="'mail'">Let's build something together:</p>
      <a href="mailto:dovanviet2109@gmail.com">dovanviet2109&#64;gmail.com</a
      ><sup>4</sup>
    </div>
  </div>
  <app-sliding-text></app-sliding-text>
</div>
