.container {
  background-color: #111111;
  width: 100%;
  display: flex;
  padding-bottom: 40px;
}

img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.pname-container {
  width: 33%;
  margin-top: 30px;
  background: #111111;
  position: sticky;
  top: 80px;
  max-height: 80px;
}

.titleContainer {
  width: 100%;
}

.subTitleContainer {
  color: #6b6b6b;
  letter-spacing: 1px;

  font-family: "Oswald", sans-serif;
}

h1 {
  font-family: "Offbit Bold";
  color: white;
  margin: 0;
}

p {
  margin: 0;
  font-size: 12px;
}
