div {
  padding: 16px;
  background-color: #1b1b1b;
  border-radius: 8px;
}

p {
  margin: 0;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  color: rgb(228, 228, 228);
  font-size: 14px;
}

a {
  width: 100%;
  color: #4b4a4a;
  text-decoration: none;
  :hover {
    background: #292829;
  }
}
