.presentation-container {
  margin-top: 28px;
  display: flex;
  padding: 0 6px;
  flex-direction: column;
  gap: 10px;
  gap: 8px 0 0 0;
  flex: 1;
}

.introduce-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.introduce-p {
  width: 100%;
}

.details-p {
  width: 100%;
  display: flex;
  gap: 8px;
}

.detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 12px;
}

app-navigate-button {
  flex: 1;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.desc-container {
  width: 86%;
  margin-bottom: 16px;
}
