<div [className]="'container'">
  <!-- author's info -->
  <div [className]="'container__authorsInfo'">
    <div [className]="'container__about'">
      <p [className]="'title'">ABOUT</p>
      <p [className]="'content'">
        Viet (He/Him) builds web applications. He thrives in complex, dynamic
        problem spaces focused on scalable architectures, interactive
        experiences, and seamless user interactions. He studied Information
        Technology at Hanoi University, an experience he values deeply and
        continues to draw inspiration from. If you have an exciting project or
        idea, please <a href="mailto:dovanviet2109@gmail.com">get in touch</a
        ><sup>↗</sup>.
      </p>
    </div>
    <div [className]="'container__team-desc'">
      <div [className]="'container__titles'">
        <div [className]="'container__team'">
          <p [className]="'title'">TEAM</p>
        </div>
        <div [className]="'container__desc'">
          <p [className]="'title'">DESCRIPTION</p>
        </div>
      </div>
      <div [className]="'container__contents'">
        <div [className]="'section_content'">
          <div [className]="'container__team'">
            <p [className]="'content'">Notion</p>
            <p [className]="'content'">2025 - Present</p>
          </div>
          <div [className]="'container__desc'">
            <p [className]="'content'">
              Building beautiful tools for your life’s work.
            </p>
          </div>
        </div>
        <div [className]="'section_content'">
          <div [className]="'container__team'">
            <p [className]="'content'">Notion</p>
            <p [className]="'content'">2025 - Present</p>
          </div>
          <div [className]="'container__desc'">
            <p [className]="'content'">
              First full-time design hire. Scaled design team to 5 people. Built
              Anime.com, Animee, and interactive experiences for the Azuki IP.
            </p>
          </div>
        </div>
        <div [className]="'section_content'">
          <div [className]="'container__team'">
            <p [className]="'content'">Notion</p>
            <p [className]="'content'">2025 - Present</p>
          </div>
          <div [className]="'container__desc'">
            <p [className]="'content'">
              Design consulting for emerging AI and productivity companies.
              Notable clients include Anysphere (Cursor AI)1, Rox2, andBrain
              Technologies (Natural AI)3.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- projects -->
  <div [className]="'container__projects'">
    <div [className]="'column'">
      <app-rectangle-card
        [transitionDura]="500"
        [link]="'nextjsdashboard'"
        [imgSrc]="'assets/images/ID.png'"
        [title]="'INTERN DASHBOARD 01'"
        [desc]="'NEXTJS APPLICATION'"
      ></app-rectangle-card>

      <app-rectangle-card
        [transitionDura]="1000"
        [isLocked]="true"
        [imgSrc]="'assets/images/CS.png'"
        [title]="'HELP ME FILL THIS SLOT'"
        [desc]="'CONTACT ME'"
      ></app-rectangle-card
      ><app-rectangle-card
        [transitionDura]="500"
        [isLocked]="true"
        [imgSrc]="'assets/images/CS.png'"
        [title]="'HELP ME FILL THIS SLOT'"
        [desc]="'CONTACT ME'"
      ></app-rectangle-card>
    </div>
    <div [className]="'column'">
      <app-rectangle-card
        [transitionDura]="1000"
        [isLocked]="true"
        [imgSrc]="'assets/images/Chat.png'"
        [title]="'FRIENDS CHAT'"
        [desc]="'ANGULAR CHAT APP'"
      ></app-rectangle-card>
      <app-rectangle-card
        [transitionDura]="500"
        [imgSrc]="'assets/images/BC square.png'"
        [title]="'BATTLE CITY'"
        [desc]="'JAVA GAME'"
      ></app-rectangle-card>
    </div>
    <div [className]="'column'">
      <app-rectangle-card
        [transitionDura]="500"
        [imgSrc]="'assets/images/DS.png'"
        [title]="'DEVLIFE SIM'"
        [desc]="'REACT NATIVE GAME'"
      ></app-rectangle-card>

      <app-rectangle-card
        [transitionDura]="1000"
        [imgSrc]="'assets/images/ET.png'"
        [title]="'EXPENSE TRACKER'"
        [desc]="'REACT NATIVE APPICATION'"
        [link]="'/nextjsdashboard'"
      ></app-rectangle-card>
      <app-rectangle-card
        [isLocked]="true"
        [transitionDura]="1000"
        [imgSrc]="'assets/images/CS.png'"
        [title]="'HELP ME FILL THIS SLOT'"
        [desc]="'CONTACT ME'"
      ></app-rectangle-card>
    </div>
  </div>
</div>
