.container {
  &__authorsInfo {
    display: flex;
    width: 100%;
  }
  &__team,
  &__about,
  &__desc {
    flex: 1;
  }

  &__projects {
    display: flex;
    width: 100%;
    gap: 12px;
    padding-bottom: 50px;
    margin-top: 30px;
  }
}

.title {
  color: #6b6b6b;
  font-family: "Oswald", sans-serif;
  margin-top: 0;
  padding: 1px;
  font-size: 12px;
  letter-spacing: 2px;
}

// #FDE047: text yellow
// #DD313F: red (azuki bg)
// #1E4DD9: blue (plane)
// #2A2B30: dark gray (cursor)

.content {
  &__about,
  &__team,
  &__desc {
    padding: 1px;

    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 14px;
  }
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

a {
  color: white;
  text-decoration-style: dotted;
  text-underline-offset: 2px;
}

sup {
  color: #fde047;
  font-size: 10px;
  margin-left: 2px;
}

a:hover {
  color: #fde047;
  background: #ffd5002a;
}
